SECRET_KEY=sua-chave-secreta-aqui
DEBUG=False
ALLOWED_HOSTS=caruaru.sistema9.com.br

DB_ENGINE=django.db.backends.mysql
DB_NAME=sgem_caruaru
DB_USER=sgem_user
DB_PASSWORD=senha-forte-aqui
DB_HOST=localhost
DB_PORT=3306
